[Unit]
Description = Deathclock shutdown service
After = mediacenter.service
Wants = network-online.target

[Service]
Type = simple
ExecStart = /opt/sediq/deathclock
ExecStop = /opt/sediq/shutdown

[Install]
WantedBy = multi-user.target
