[Unit]
Description = Backup camera service
After = mediacenter.service
Wants = network-online.target

[Service]
Type = simple
ExecStart = /home/osmc/sediq/camera/startup

[Install]
WantedBy = multi-user.target
